.header {
  margin: 0 2.5rem;
  padding: .5rem 0;
  height: 130px;
  align-items: center;
  display: flex;
  justify-content:space-between;
}

.headerLeft, .headerRight {
  display: flex;
  align-items: center;

}

a > span{
  margin: 0 30px;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
}

a > span:hover {
  color: red;
}

.header__icon {
  width: 350px;
  height: 350px;
  position:relative;
  top: 11px;
  right: 30px;
  
  cursor: pointer;
}

.user__avatar {
  font-size: 2rem;
}
